$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: Roboto;

$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$gridCols: 5;
$gridRows: 4;
$gridSize: 50px;
$gridGap: 4px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  min-width: 200px;
  background-color: $mainColor;
  color: $textColor;
  padding: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item  {
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    transform: none;
  }
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  perspective: 1200px;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 0;
  gap: 20px;
}

.inventory-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 85vh;
  background: rgba(35, 38, 42, 0.55);
  padding: 12px;
  border-radius: 8.5px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow:
    inset 0 0 20px rgba(0, 0, 0, 0.9),
    inset 0 0 2px rgba(255, 255, 255, 0.08),
    0 4px 15px rgba(0, 0, 0, 0.7);
}

.left-inventory {
  @extend .inventory-panel;
}
.right-inventory {
  @extend .inventory-panel;
}

.left-inventory {
  transform: rotateY(20deg) translateX(50px);
  transform-origin: right center;
}
.right-inventory {
  transform: rotateY(-20deg) translateX(-50px);
  transform-origin: left center;
}

.left-inventory,
.right-inventory {
  transition: transform 250ms ease;
  will-change: transform;
}

.inventory-control {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 2px;
}

  .inventory-control-wrapper {
    flex: 7;
    display: flex;
  }

  .inventory-control-input {
    width: 100%;
    height: 20px;
    font-size: 11px;
    color: #d6d6d6;
    text-align: center;
    background: rgba(25, 28, 35, 0.45);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 14px rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.04);
    border-radius: 4px;
    &:focus {
      outline: none;
      box-shadow:
        inset 0 0 16px rgba(0,0,0,0.9),
        0 0 0 1px rgba(255,255,255,0.05);
    }
  }


.inventory-control-button {
  flex: 3;
  height: 24px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: $textColor;

  background: rgba(25, 28, 35, 0.5);

  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 4px;

  box-shadow:
    inset 0 0 14px rgba(0,0,0,0.75),
    0 2px 6px rgba(0,0,0,0.3);

  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 150ms ease;

  &:hover {
    background: rgba(35, 40, 50, 0.65);
  }

  &:active {
    transform: translateY(1px);
    box-shadow:
      inset 0 0 18px rgba(0,0,0,0.9);
  }
}


.useful-controls-dialog {
  background: rgba(10, 12, 18, 0.362);
  border: 1px solid rgba(255,255,255,0.06);
  border-radius: 8.5px;
  padding: 12px;
  width: 260px;
  color: $textColor;
  box-shadow:
    inset 0 0 20px rgba(0,0,0,0.6),
    0 10px 30px rgba(0,0,0,0.6);
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}


.useful-controls-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.useful-controls-dialog-close {
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 10px;
  }
}

.inventory-grid-container {
  display: grid;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize;
  gap: $gridGap;

  max-height: calc($gridSize * $gridRows + $gridGap * ($gridRows - 1));
  overflow-y: auto;
}

// inventory slots
.inventory-slot {
  width: $gridSize;
  height: $gridSize;
  background: linear-gradient(180deg, rgba(55, 60, 68, 0.95), rgba(28, 32, 38, 0.95));
  border-radius: 3.5px;
  border: 1px solid rgba(255,255,255,0.08) ;
  position: relative;
  color: #d8d8d8;
  box-shadow:
    inset 0 0 18px rgba(0,0,0,0.85),
    inset 0 0 2px rgba(255,255,255,0.06);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  overflow: hidden;
}

.inventory-slot::before {
  content: "";
  position: absolute;
  inset: 10%;
  background: radial-gradient(
    circle,
    rgba(255,255,255,0.14) 0%,
    rgba(255,255,255,0.08) 35%,
    rgba(255,255,255,0.03) 55%,
    transparent 75%
  );
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.inventory-slot::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at bottom,
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.25) 40%,
    transparent 60%
  );
  z-index: 0;
}

.inventory-slot-label-box {
  color: #bbb;
  padding: 2px 4px;
  text-align: center;
}

.inventory-slot-label-text {
  font-family: $mainFont;
  font-size: 8px;               
  font-weight: 500;
  color: #d6d6d6;

  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;

  white-space: normal;         
  overflow: hidden;
  text-overflow: unset;
  max-height: 2.2em;
}

.inventory-slot-number {
  color: #ddd;
  font-size: 8px;
  font-weight: 400;
  padding: 3px;
}

.left-inventory-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 3px;
  gap: 3px;
  p {
    font-size: 9px;
    font-weight: 400;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}


.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background-color: $mainColor;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $textColor;
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar

.hotbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  position: absolute;
  bottom: 2vh;
  background: rgba(8,10,15,0.95);
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid rgba(255,255,255,0.05);
  box-shadow:
    inset 0 0 25px rgba(0,0,0,0.8),
    0 0 30px rgba(0,0,0,0.7);
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: 9vh;
  height: 9vh;
}

.hotbar-slot-header-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  padding: 2px 4px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}


// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}


.weight-bar {
  background: rgba(0, 0, 0, 0.5);
  border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.5vh;
  border-radius: 5%;
  overflow: hidden;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}